<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/AddWorker.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JavaScript/AddWorker.js') }}" ></script>
    <title>Add worker</title>

</head>

<body>
<div class="container">
    <div class="center">
    <h1> Add new worker</h1>
    <table>
        {%  for field in fields %}
            <tr id{{ TRfield }}>
                <td>
            <label> {{field}}</label>
                </td>
                <td>
            <input type="text" id="{{ field }}">
                </td>
            </tr>
        {% endfor %}
    </table>
        <input id="crf"  type="hidden" disabled value={{hash}}>
        </br>
        <input type="button" class="button" value="save" >
        <div id="snackbar"></div>
    </div>
</div>
</body>
</html>