<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/AddWorker.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JavaScript/AddWorker.js') }}" ></script>
    <title>Add worker</title>

</head>

<body>
<div class="container">
    <div class="center">
    </div>
</div>
</body>
</html>