<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Worker.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JavaScript/Worker.js') }}" ></script>
    <title>Add worker</title>

</head>

<body>
<div class="container">
    <div class="center">
    <h1> Workers</h1>
    <table id="workersTable" >
        <thead >
            <tr>
                  {%for key,value in workers.items() %}
                      {% if value %}
                        {%for keys in value[0] %}
                <td>
                    <input type="text" id="filtrInput" name="{{ keys }}" onkeyup="filter{{ keys }}()" placeholder="Search for {{ keys }}.." >
                </td>

                          {% endfor %}
                      {% endif %}
                {% endfor %}
            </tr>
            <tr>

                {%for key,value in workers.items() %}
                      {% if value %}
                        {%for keys in value[0] %}
                <td>
                    <a> {{keys}}</a>
                </td>
                           {% endfor %}
                      {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {%for list in workers.values()%}
                {%for worker in list%}
                <tr>
                    {%for key,value in worker.items()  %}

                        <td>
                            {{value}}
                        </td>

                        {% endfor %}


                <td>
                    <input type="button" value="change worker">
                </td>
                    <td>
                    <input type="button" value="remove worker">
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>



        <input id="crf"  type="hidden" disabled value={{hash}}>
        </br>
        <input type="button" value="Add worker" onclick="add()" >
        <div id="snackbar"></div>
    </div>
</div>


<script>
    {%for key,value in workers.items() %}
    {% if value %}
    {%for keys in value[0] %}
function filter{{ keys }}() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementsByName("{{keys}}");
  filter = input.value.toUpperCase();
  table = document.getElementById("workersTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
        {% endfor %}
        {% endif %}
    {% endfor %}
</script>

</body>
</html>