<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Worker.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'JavaScript/Worker.js') }}" ></script>
    <title>Add worker</title>

</head>

<body>
<div class="container">
    <div class="center">
    <h1> Workers</h1>
    <table id="workersTable" >
        <thead >
            <tr id="filtrTR">
                      {% if workers %}
                        {%for keys in workers[0] %}

                <td>
                    <input type="text" id="filtrInput" name="{{loop.index}}" placeholder="Search for {{ keys }}.." >
                </td>

                          {% endfor %}
                      {% endif %}
            </tr>
            <tr>


                      {% if workers %}
                        {%for keys in workers[0] %}
                <td>
                    <a> {{keys}}</a>
                </td>
                           {% endfor %}
                      {% endif %}
            </tr>
        </thead>
        <tbody id="workersTableBody">
                {%for worker in workers%}
                <tr>
                    {%for key,value in worker.items()  %}

                        <td>
                            {{value}}
                        </td>

                        {% endfor %}


                <td>
                    <input type="button" value="change worker">
                </td>
                    <td>
                    <input type="button" value="remove worker">
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>



        <input id="crf"  type="hidden" disabled value={{hash}}>
        </br>
        <input type="button" value="Add worker" onclick="add()" >
        <div id="snackbar"></div>
    </div>
</div>



</body>
</html>